# Ignorer node_modules
node_modules/

# Ignorer les fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers MacOS
.DS_Store

# Ignorer les données de runtime
pids
*.pid
*.seed
*.pid.lock

# Ignorer les répertoires de dépendances
jspm_packages/

# Ignorer le cache npm optionnel
.npm

# Ignorer le cache eslint optionnel
.eslintcache

# Ignorer l'historique REPL optionnel
.node_repl_history

# Ignorer la sortie de 'npm pack'
*.tgz

# Ignorer le fichier d'intégrité de Yarn
.yarn-integrity

# Ignorer les fichiers d'environnement dotenv
.env
.env.test
.env.production

# Ignorer le cache Parcel-bundler
.cache
.parcel-cache

# Ignorer la sortie de build Next.js
.next
out

# Ignorer la sortie de build Nuxt.js
.nuxt

# Ignorer la sortie de build vuepress
.vuepress/dist

# Ignorer les répertoires Serverless
.serverless

# Ignorer le cache FuseBox
.fusebox

# Ignorer les fichiers Webpack
.webpack/
.cache/

# Ignorer les cartes CSS compilées
*.css.map

# Ignorer les cartes JavaScript compilées
*.js.map

# Ignorer les dossiers dist (mais pas les fichiers nécessaires)
!dist/
dist/*.map
dist/*.html

# Ignorer les dossiers statiques
public/

# Ignorer les fichiers et dossiers des IDEs et éditeurs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorer les répertoires de couverture de tests
coverage/
*.lcov

# Ignorer la sortie JSDoc
docs/
